@if (isElementsLoading$ | async; as isLoading) {
    <div class="flex flex-col gap-y-6 justify-center items-center h-64">
        <p class="text-center block text-gray-500 italic">Loading...</p>
        <div class="spinner"></div>
    </div>
} @else {
    <app-table-filter
        (filterValueChanged)="filterValue.set($event)"
        class="w-[300px]"
    ></app-table-filter>

    @if (elements$ | async; as elements) {
        @if (elements.length === 0) {
            <p class="text-center block text-gray-500 italic">no content</p>
        } @else {
            <app-element-table
                [elements]="elements"
                [filterValue]="filterValue()"
            ></app-element-table>
        }
    }
}
